<!--
Yksittäisten annosten sivut tulee luoda tämän tiedoston mukaan. Toteutustavasta
riippuen, voidaan mahdollisesti poistaa lopuksi.

Sivu tahtoo annoksen oliona ja annokseen liittyvät AnnosRaakaAineet
JÄRJESTYKSESSÄ jarjestys-attribuutin mukaan. Tämä on käsittääkseni mahdollista
Thymeleafissa.

Vaihtoehtoisesti ol:n voi vaihtaa ul:ksi ja kommentit voi ottaa
pois kommentoidun spanin ja pisteen ympäriltä. Tällöin raaka-aineiden järjestys
annetaan, mutta ne eivät ole listassa järjestyksessä.
-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${annos.nimi}">testi</title>
    <style>
      * {
        font-family: calibri, arial, sans-serif;
      }
      body {
        margin: 0;
        padding: 0;
        border: 0;
      }
      div {
        margin: 0;
        padding: 10px;
        border: 0;
        background-color: #66ccff;
      }
      h2 {
        margin: 0;
        padding: 0;
        border: 0;
        color: #ffffff;
      }
  </style>
</head>
<body>

  <div>
    <h2 th:text="${annos.nimi}">testi</h2>
  </div>

  
  <ol>
      <li th:each="annosRaakaAine: ${annosRaakaAineet}">
          <!--<span th:text="${annosRaakaAine.jarjestys}">testi</span>
          .-->
          <span th:text="${annosRaakaAine.raakaAine.nimi}">testi</span>, 
          <span th:text="${annosRaakaAine.maara}">testi</span>. 
          <span th:text="${annosRaakaAine.ohje}">testi</span>
      </li>
  </ol>

  <ul>
    <li>
      <a href="../../">Smoothielistaukseen</a>
    </li>
  </ul>
</body>
</html>
