<!--
Tämä sivu haluaa raakaAineet listassa olioina.

/poistaRaakaAine
Sivu myös postaa nimellä poistettavaRaakaAine sellaisen raaka-aineen id:n, joka
tulisi poistaa tietokannasta.

/lisaaRaakaAine
Sivu myös postaa nimellä lisattavaRaakaAine sellaisen raaka-aineen nimen, joka
tulisi lisätä tietokantaan.
-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Raaka-aineet</title>
  <style>
      * {
        font-family: calibri, arial, sans-serif;
      }
      body {
        margin: 0;
        padding: 0;
        border: 0;
      }
      h2 {
        margin: 0;
        padding: 0;
        border: 0;
        color: #ffffff;
      }
      h4 {
        margin: 0;
        margin-left: 10px;
        padding: 0;
        border: 0;
      }
  </style>
</head>
<body>
    
  <div style="margin: 0; padding: 10px; border: 0; background-color: #66ccff;">
    <h2>Raaka-aineet</h2>
  </div>
  
    <ul style="list-style: none; margin-bottom: 20px; margin-top: 20px;">
        <li th:each="raakaAine: ${raakaAineet}">
            <span style="float: left;" th:text="${raakaAine.nimi}">testi</span>
            <form method="POST" action="/poistaRaakaAine">
                <input type="hidden" name="poistettavaRaakaAine" th:value="${raakaAine.id}"/>
                <input type="submit" style="margin-left: 10px;" value="Poista"/>
            </form>
        </li>
    </ul>

  <h4>Lis&auml;&auml; uusi raaka-aine</h4>
  <div style="margin-left: 20px; margin-bottom: 30px; margin-top: 10px; padding: 0; border: 0;">
    <form method="POST" action="/lisaaRaakaAine">
        Raaka-aineen nimi:<br/>
        <input type="text" name="lisattavaRaakaAine"/><br/>
        <input type="submit" value="Lis&auml;&auml;"/>
    </form>
  </div>
  
  <ul>
    <li>
      <a href="../">Smoothielistaukseen</a>
    </li>
  </ul>
</body>  
</html>
